.bg-image.square {
  width: 100px;
  height: 50px;
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
  margin-right: 10px;
}
